<div id="<%= note.titre %>" class='note'>
  
  <div class="actions">
    <%= link_to 'Modifier', edit_note_path(note) %> |
    <%= link_to 'Supprimer', note, :confirm => 'Are you sure?', :method => :delete %>
  </div>  
  
  <h2><%= note.titre %></h2>
  <hr/>
      
  <p><%= markdown(note.contenu) %></p>
</div>
