<%= form_for(@categorie) do |f| %>
  <% if @categorie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorie.errors.count, "error") %> prohibited this categorie from being saved:</h2>

      <ul>
        <% @categorie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>

<div class="field">
    <%= f.label :categorie_id %><br />
    <select id="categorie_categorie_id" name="categorie[categorie_id]">
      <%= options_for_select(Categorie.select_map, @categorie.categorie_id) %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
