<h1><%= @categorie.nom %></h1>

<%= link_to 'Nouvelle Note',  new_note_path(:note => {:categorie_id => @categorie.id}) if user_signed_in? %>
<% if @notes.empty? %>
  <%= link_to 'Supprimer Catégorie', @categorie, :confirm => 'Etes-vous sur ?', :method => :delete %>
<% end %>

<% @notes.each do |note| %>
  <div class='note'>
    <h2><%= "#{note.rang} - #{note.titre}" %></h2>

    <% if user_signed_in? %>
      <p>
        <%= link_to 'Modifier', edit_note_path(note) %> |
        <%= link_to 'Supprimer', note, :confirm => 'Are you sure?', :method => :delete %> |
        <%= link_to 'monter', :controller => 'notes', :action => 'monter', :id => note.id %> |
        <%= link_to 'descendre', :controller => 'notes', :action => 'descendre', :id => note.id%>
      </p>
      
      <hr/>
    <% end %>
      
    <p><%= markdown(note.contenu) %></p>
  </div>
  
  <hr class="section" />
<% end %>
