<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'NotePad',  root_path, :class => 'brand' %>
      <ul class="nav">
        <li><%= link_to 'Exporter notes',  :controller => 'gestion', :action => 'exporter' %>
      </ul>
      <ul class="nav pull-right">
        <%= form_tag(notes_path, :method => "get", :class => 'navbar-search') do %>
          <%= text_field_tag(:search, nil, :class => 'search-query', :placeholder => 'Search') %>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <a><%= current_user.username %> connected</a>
          </li>
          <li><%= link_to('logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <li><%= link_to('sign in', new_user_session_path) %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
