<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="head">
      <%= render :partial => 'heading' %>
    </div>
    
    <div id="body">
      <!--p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p-->
      <div id="navigation">
        <%= render :partial => 'navigation' %>
      </div>
      
      <div id="toc">
        <%= yield :right %>          
      </div>

      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
